* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  height: 100vh;
  overflow: hidden;
}

$firstColorWhite: rgb(255,255,255);
$secondColorBlack: rgb(33,33,33);

/*-----------------------------------------------A-Propos----------------------------------------------*/

#a-propos-left-wrapper {
  position: absolute;
  top: 20vh;
  left: 10vw;
  height: 60vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#a-propos-title {
  position: relative;
  font-size: 5vw;
  font-weight: bold;
  font-family: Allerta stencil, serif;
}

#a-propos-paragraph-wrapper {
  p {
    font-size: 1.1vw;
    font-family: Poppins, serif;
    text-align: left;

    :first-line {
      color: transparent;
      user-select: none;
    }

  }
}

#text {
  font-size: 10vw;
  font-family: Poppins, serif;
  text-align: left;
}

#a-propos-download-wrapper {
  position: relative;
  height: 5vh;
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#a-propos-download-wrapper-one {
  position: relative;
  height: 100%;
  width: 60%;
}

#a-propos-download-wrapper-two {
  position: relative;
  height: 100%;
  width: 25%;
}

#a-propos-download-title {
  display: flex;
  font-size: 1.5vw;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  align-items: center;
  color: $secondColorBlack;
}

.download-image {
  position: relative;
  height: 80%;
  object-fit: cover;
  left: 1vw;
}

#a-propos-a {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.a-propos-image {
  height: 100%;
  object-fit: cover;
  background-size: cover;
}

#about-button {
  position: relative;
  height: 5vh;
  width: 8vw;
  border: none;
  outline: none;
  border-radius: 10vh;
  background-color: $secondColorBlack;
  font-family: Poppins, sans-serif;
  font-size: 1.5vw;
  color: $firstColorWhite;
}

#a-propos-right-wrapper {
  position: absolute;
  top: 15vh;
  left: 50vw;
  height: 70vh;
  width: 40vw;
  display: flex;
  justify-content: center;
}

#software-wrapper-global {
  position: absolute;
  bottom: 5vh;
  right: 20vw;
  height: 6.5vh;
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
