* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  height: 100vh;
  overflow: hidden;
}

/*-----------------------------------------------Contact-------------------------------------------------*/
#contact-wrapper {
  position: relative;
  top: 10vh;
  left: 10vw;
  height: 80vh;
  width: 80vw;
}

#contact-title-wrapper {
  position: absolute;
  top: 3vh;
  left: 1.5vw;
}

#contact-title {
  position: relative;
  font-family: "Allerta stencil", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5vw;
  color: #212121;
}

#contact-wrapper-part-one {
  position: absolute;
  top: 32.5%;
  left: 1.5%;
  height: 35%;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.contact-info {
  position: relative;
  height: 10vh;
  width: 15vw;
}

.contact-title-label {
  font-family: Poppins, serif;
  color: #212121;
  font-size: 1.8vw;
  font-style: normal;
  font-weight: bold;
}

.contact-text {
  position: relative;
  top: 1.2vh;
  font-size: 1.2vw;
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: 400;
  color: #212121;
}

#contact-socialMedia-image {
  top: 1.2vh;
  position: relative;
  height: 3.5vh;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-image {
  position: relative;
  height: 100%;
  object-fit: cover;
}

#contact-wrapper-part-two {
  position: absolute;
  top: 10%;
  right: 1.5%;
  height: 80%;
  width: 47%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#contact-label-name-wrapper {
  position: relative;
  height: 7vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#contact-title-label-name {
  position: relative;
  left: 12.5vw;
}

#contact-wrapper-input-name {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-input-name {
  position: relative;
  height: 5vh;
  width: 18vw;
  border: none;
  border-bottom: 0.6vh solid #212121;
  outline: none;
  font-size: 1vw;
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: 400;
}
.contact-input-name::placeholder {
  font-size: 1vw;
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: 400;
}
.contact-input-name:focus {
  font-size: 1vw;
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: 400;
  color: #212121;
}

#contact-label-email-wrapper {
  position: relative;
}

#contact-input-email {
  position: relative;
  height: 5vh;
  width: 100%;
  border: none;
  border-bottom: 0.6vh solid #212121;
  outline: none;
  font-size: 1vw;
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: 400;
}
#contact-input-email::placeholder {
  font-size: 1vw;
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: 400;
}
#contact-input-email:focus {
  font-size: 1vw;
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: 400;
  color: #212121;
}

#contact-input-text {
  position: relative;
  height: 15vh;
  width: 100%;
  border: none;
  border-bottom: 0.6vh solid #212121;
  outline: none;
  word-break: break-word;
  white-space: normal;
  resize: none;
  padding-top: 1.5vh;
  font-size: 1vw;
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: 400;
}
#contact-input-text::placeholder {
  font-size: 1vw;
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: 400;
}
#contact-input-text:focus {
  font-size: 1vw;
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: 400;
  color: #212121;
}
#contact-input-text::-webkit-scrollbar {
  color: transparent;
}

.contact-input-send {
  position: relative;
  height: 5vh;
  left: 20vw;
  width: 17vw;
  border: none;
  border-radius: 10vw;
  outline: none;
  font-size: 1.25vw;
  font-family: Poppins, serif;
  color: white;
  transition: 0.5s;
  background-color: #212121;
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
}
.contact-input-send:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #212121 !important;
  font-family: Poppins, serif;
  font-size: 1vw;
  background-color: white;
}

#decoration-image-wrapper {
  position: absolute;
  bottom: -5vh;
  left: 35vw;
  height: 30vh;
  width: 30vw;
  display: flex;
  flex-direction: row;
}

.decoration-image {
  position: relative;
  height: 100%;
  width: 33.33%;
}

#reverse-image {
  transform: scaleX(-1);
}

/*# sourceMappingURL=contact.css.map */
