* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}

$firstColorWhite: rgb(255,255,255);
$secondColorBlack: rgb(33,33,33);

/*-----------------------------------------Loading screen----------------------------------------*/

#loadingScreen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: $firstColorWhite;
  z-index: 999;
  transition: all 2s cubic-bezier(0.25, 1, 0.3, 1);
}

.loading-image {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*---------------------------------------------Navigation-------------------------------------------*/

#navigation-wrapper {
  position: absolute;
  top: 20vh;
  right: 0;
  height: 60vh;
  width: 5vw;
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  justify-content: space-evenly;
}

.navigation {
  position: relative;
  height: 2.5vh;
  width: 2.5vh;
  left: calc(50% - 1.25vh);
  border-radius: 100%;
  background-color: $secondColorBlack;

  &.active {
    position: relative;
    margin-top: 6vh;
    left: calc(50% - 1.25vh);
    height: 2.5vh;
    width: 2.5vh;
    border-radius: 10vh;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
    user-select: none;
    animation-name: animationActiveNavigation;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    &:after {
      position: absolute;
      width: 100%;
      left: -0.1;
      top: -5vh;
      content: attr(data-before);
      font-family: "Allerta stencil", serif;
      font-weight: bold;
      font-size: 2.25vw;
      transform: rotate(270deg);
      color: $secondColorBlack;
      animation-name: animationActiveNavigationAfter;
      animation-duration: 0.75s;
      animation-delay: 0.75s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      opacity: 0;
    }
  }
}

@keyframes animationActiveNavigation {
  0%{
    left: calc(50% - 1.25vh);
    height: 2.5vh;
    width: 2.5vh;
  }
  10%{
    left: calc(50% - 0.625vw);
    height: 1.25vw;
    width: 1.25vw;
  }
  15%{
    left: calc(50% - 0.5625vw);
    height: 1.125vw;
    width: 1.125vw;
  }
  20%{
    left: calc(50% - 0.5vw);
    height: 1vw;
    width: 1vw;
  }
  25%{
    left: calc(50% - 0.4375vw);
    height: 0.875vw;
    width: 0.875vw;
  }
  30%{
    left: calc(50% - 0.375vw);
    height: 0.75vw;
    width: 0.75vw;
  }
  35%{
    left: calc(50% - 0.3125vw);
    height: 0.625vw;
    width: 0.625vw;
  }
  40%{
    left: calc(50% - 0.25vw);
    height: 0.5vw;
    width: 0.5vw;
  }
  45%{
    left: calc(50% - 0.1875vw);
    height: 0.375vw;
    width: 0.375vw;
  }
  50%{
    left: calc(50% - 0.125vw);
    height: 0.25vw;
    width: 0.25vw;
  }
  100%{
    left: calc(50% - 0.125vw);
    height: 20vh;
    width: 0.25vw;
  }
}

@keyframes animationActiveNavigationAfter {
  0%{

  }
  100%{
    opacity: 1;
  }
}

/*---------------------------------------------Welcome-------------------------------------------*/

#logo-wrapper {
  position: absolute;
  top: 2vh;
  left: 2.5vw;
  height: 13vh;
  width: 13vw;
}

#welcome-right-wrapper {
  position: absolute;
  top: 17.5vh;
  right: 5vw;
  height: 65vh;
  width: 45vw;
}

.image {
  height: 100%;
  width: 100%;
  background-size: cover;
}

#welcome-left-wrapper {
  position: absolute;
  top: 25vh;
  left: 10vw;
  height: 50vh;
  width: 40vw;
}

#welcome-left-title-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.welcome-left-title {
  position: relative;
  font-family: "Allerta stencil",sans-serif;
  font-weight: 700;
  font-size: 4vw;
  color: $secondColorBlack;
}

#welcome-left-subtitle-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.welcome-left-subtitle {
  font-family: Poppins, sans-serif;
  color: $secondColorBlack;
  font-size: 3vw;
  font-style: normal;
  font-weight: bold;
}

#welcome-left-paragraph-wrapper {
  position: relative;
  top: 2vh;
  left: 0;
  height: 15vh;
  width: 100%;

  p{
    position: relative;
    font-size: 1.7vw;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: $secondColorBlack;

    &:first-line {
      color: transparent;
      user-select: none;
    }
  }
}

#scroll-wrapper {
  position: absolute;
  bottom: 2vh;
  right: 1.15vw;
  height: 8vh;
  width: 4vw;
}

/*---------------------------------------------Project-------------------------------------------*/

#first-project-wrapper {
  position: absolute;
  top: 15vh;
  left: 30vw;
  height: 70vh;
  width: 40vw;
  display: flex;
  user-select: none;
}

#first-project-title-wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 10vh;
  z-index: 1;
}

.project-title {
  position: relative;
  font-family: "Allerta stencil", serif;
  font-size: 4vw;
  display: flex;
  align-items: center;
}

#first-project-subtitle-wrapper {
  position: absolute;
  margin-top: 10vh;
  left: 0;
  height: 7vh;
  z-index: 1;
  display: flex;
  align-items: center;
}

.project-subtitle {
  font-family: Poppins, serif;
  font-size: 3vw;
}

#first-project-image-wrapper {
  position: absolute;
  margin-top: 11vh;
  margin-left: 10vw;
  height: 60vh;
  width: 30vw;
  overflow: hidden;
  background-size: cover;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
}

.project-image {
  height: 100%;
  width: 100%;
  opacity: 0.65;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);

}

#first-project-image-wrapper:hover .project-image{
  transform: scale(1.1);
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
}

// Second Project

#second-project-wrapper {
  position: absolute;
  top: 15vh;
  left: 30vw;
  height: 70vh;
  width: 40vw;
  display: flex;
  user-select: none;
}

#second-project-title-wrapper {
  position: relative;
  top: 0;
  margin-left: -5vw;
  height: 10vh;
  z-index: 1;
}

#second-project-subtitle-wrapper {
  position: absolute;
  margin-top: 11vh;
  margin-left: -5vw;
  height: 7vh;
  z-index: 1;
}

#second-project-image-wrapper {
  position: absolute;
  margin-top: 10vh;
  margin-left: 10vw;
  height: 60vh;
  width: 35vw;
  overflow: hidden;
  background-size: cover;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
}

#second-project-image-wrapper:hover .project-image{
  transform: scale(1.1);
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
}

// third Project

#third-project-wrapper {
  position: absolute;
  top: 15vh;
  left: 30vw;
  height: 70vh;
  width: 40vw;
  display: flex;
  user-select: none;
}

#third-project-title-wrapper {
  position: relative;
  top: 0;
  margin-left: -5vw;
  height: 10vh;
  z-index: 1;
  white-space: nowrap;
}

#third-project-subtitle-wrapper {
  position: absolute;
  margin-top: 11vh;
  margin-left: -5vw;
  height: 7vh;
  z-index: 1;
}

#third-project-image-wrapper {
  position: absolute;
  margin-top: 10vh;
  margin-left: 10vw;
  height: 60vh;
  width: 30vw;
  overflow: hidden;
  background-size: cover;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
}

#third-project-image-wrapper:hover .project-image{
  transform: scale(1.1);
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
}

/*---------------------------------------------Projects------------------------------------------*/

#projects-wrapper {
  position: absolute;
  top: 15vh;
  left: 20vw;
  height: 70vh;
  width: 60vw;
}

#button-projects {
  position: absolute;
  left: 45vw;
  height: 5vh;
  width: 10vw;
  border: none;
  outline: none;
  border-radius: 10vh;
  background-color: $secondColorBlack;
  font-family: Poppins, sans-serif;
  font-size: 1.5vw;
  color: $firstColorWhite;
  z-index: 1;
}

#info-contact {
  position: absolute;
  bottom: 0;
  left: 5vw;
  height: 10vh;
  width: 90vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.info-contact-text {
  position: relative;
  font-family: Gill Sans mt Condensed, serif;
  font-size: 1.75vw;
  color: $secondColorBlack;
}

a {
  position: relative;
  height: 70%;
}

.contact-image {
  position: relative;
  height: 70%;
}