body {
    padding: 2rem;
    margin: 0;
    background: pink;
    font-size: 15px;
}

#dribbbleShots {
    display: grid;
    padding: 0;
    margin:0;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    text-decoration: none;
}

.shot {
    position: relative;
    display: block;
    width: 25%;
    background: #ea4c89;
    color: white;
    text-decoration: none;
}

.shot:hover{
    opacity: 0;
}



.title {
    position: relative;
    width: calc(100% - 2rem);
    padding: 1rem;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: red;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    transition: opacity .2s ease-in-out;
}

@media screen and (max-width: 900px) {
    #dribbbleShots {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    #dribbbleShots {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
}